@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}

body#light {
    --bg-color: rgb(241, 245, 249);
    --text-color: rgb(241, 245, 249);
    --header-color: rgb(37, 99, 235);
    --context-color: rgb(59, 130, 246);
}

body#dark {
    --bg-color: rgb(62, 65, 67);
    --text-color: rgb(37, 99, 235);
    --header-color: black;
    --context-color: rgb(24, 23, 23);
}